@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Poppins;
  font-size: 12px;
}

main {
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: red solid;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  padding: 1rem;
  border: black solid 2px;
  width: 6rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category h3 {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

form input,
button,
select {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

button {
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

#expenses-result {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#expenses-result td,
#expenses-result th {
  border: 1px solid #ddd;
  padding: 8px;
}

#expenses-result tr:nth-child(even) {
  background-color: #f2f2f2;
}

#expenses-result tr:hover {
  background-color: #ddd;
}

#expenses-result th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}
